<html>
    <head>
        <title>
            RecommendWine
        </title>
    </head>
    <body>
        <h1>
            Your RecommendWine list
        </h1>
        <form method="POST">
            <input name="review_text" id="id_new_review" placeholder="Enter your review here" />
            {% csrf_token %}
        </form>
        <table id="id_reviews_table">
            <tr>
                <td>
                    1: {{ new_review_text }}
                </td>
            </tr>
        </table>

    </body>
</html>